.profileButtons {
  margin-bottom: 10px;
}

.inviteDiv {
  margin-top: 10px;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.inviteButtons {
  padding-left: 0;
  padding-right: 0;
  margin-top: -10px;
}

.inviteDivider {
  margin-top: 15px;
  padding-left: 0;
  padding-right: 0;
}

.nameInput {
  margin-bottom: 10px;
}
